* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;  
    background: rgb(236, 236, 236);  
}

@font-face {
    font-family: name;
    src: url();
}