* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;  
    background: rgb(236, 236, 236);  
}

@font-face {
    font-family: Creato Bold;
    src: url(/fonts/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: Creato Regular;
    src: url(/fonts/CreatoDisplay-Regular.otf);
}

h2 {
    color: rgb(22, 22, 22);
    font-size: 22px;
    font-family: Creato Bold;
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-family: Creato Regular;
}

span {
    font-family: Creato Bold;
}
